apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "host": "your-host"
      "username": "username"
      "password": "password"
      "insecure": "truef"
    }
